<html>
    <head>
        <title>lazyQL</title>
        <link href="/assets/home.css" type="text/css" rel="stylesheet">
        <script defer src="/assets/color.js"></script>
    </head>

    <body>

        <div id="introduction">

            <p id="logo_title">lazyQL</p>
            <img src="/assets/lazyQL_logo.png">
            <p id="tagline">minimalist web interface for your databases</p>

        </div>

        <div id="database_form">

            <form method="post" id="homepage_form">
                <input type="text" id="db_name" name="db_name" value="" placeholder="create database">
            </form>
            <p id="message">
                <%= name %>
            </p>

        </div>
        <div id="containlist">
            <% for(let i = 0; i<dbnames.length; i++) { %>

            <table>
                <tr>
                    <th class="first_column"><%= dbnames[i] %></th>
                    <form action="/<%= dbnames[i] %>" method="POST">
                    <th><button type="submit" onclick="">Create table</button></th>
                    </form>
                    <form action="/generate/<%= dbnames[i] %>" method="POST">
                    <th><button type="submit">Generate .sql file</button></th>
                    </form>
                </tr>
                
                <% let my = Tables[i]; %>
                <%  for(let j=0; j<my.length; j++) {
                    let containString = `Tables_in_${dbnames[i]}`; %>
                    <tr>
                        <td colspan="3"> 
                            <a href="/<%= dbnames[i] %>/<%= Tables[i][j][containString] %>">
                            <%= Tables[i][j][containString] %> </td>
                            </a>     
                    </tr>
    
                <%  } %>
            </table>
            <% } %>

        </div>

    </body>
</html>